body {
    /* max-width: 1440px; */
    margin: auto;
  }
  .top {
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 48px 80px -2px rgba(3, 0, 77, 0.04);
    width: 1440px;
    height: 104px;
    margin: auto;
  }
  html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    /* font-family: "Gilroy"; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
  
    display: flex;
    align-items: center;
  
    color: #1b1c15;
    display: block;
    padding: 8px;
    text-decoration: none;
  }
  /* HEADER */
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10%;
    margin-block: 1.75rem;
}
  .container1 {
    position: relative;
    margin: auto;
    /* width: 1440px; */
    height: 498px;
    background-repeat: no-repeat;
    background-image: url("./images/7xm.xyz434135\ 1\ \(1\).png");
    background-size: cover;
  }

  .container1 img{
    position: absolute;
    top: 430px;
    left: 30px;
    width: 150px;
  }
  
  .container1 h1 {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
    text-align: center;
    padding-top: 13rem;
    color: #ffffff;
  }
.container2{
    margin-top: 50px;
  padding: 3%;
}

.container2 p{
  width: 860px;
  font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
/* or 148% */
 padding: 30px 0 0;

color: #000000;
}

.container2 h1{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height */
  margin: 40px 0  0;
  
  color: #0A9BD3;
}

.container2 img{
    margin-right: 8px;
}
 
span a{
  color: black;
 list-style-type: d;
  margin-left: 50px;
}
 span

#rectangle{
 margin-bottom: 10px 0 20px;
}

footer p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    align-items: center;
    
    color: #D8D8DA;
}

.container5 img{
    margin-right: 5px;
}

.container6{
    padding: 110px 0 60px;
}

footer{
    height: 334px;

bottom: 0px;
padding: 30px;
background: #1C1F2A;
}

hr{
    margin-bottom: 20px;
    color: #ffffff;
}
.links{
    position: relative;
}
.link{
  position: absolute;
  right: 1%;
}

.para{
    display: flex;
    justify-content: space-between;
}
.container7{
    margin: 30px 0 140px;
}

a{
    text-decoration: none;
}
#pa{
    text-align: right;
    justify-content: end;
}
